Sucessfully added party member. Please click 'Add another' to add another party member. Or click 'Done'.
<a class="btn" href="/booking/three">Add another</a>
<a class="btn" href="/home/index"> Done </a>